:root {
  --home-bg-color: #000;
  --account-bg-color: #f3f3f3;
  --text-color: #fff;
  --primary-color: #e40a13;
  --secondary-color: #929292;
}

.btn {
  border-radius: 0;
}

#logo {
  height: 48px;
}

#avatar {
  height: 36px;
}
#avatar-small {
  height: 24px;
  margin-right: 10px;
}
.dropdown-menu {
  margin-left: -150px;
  background-color: var(--home-bg-color);
}

.icon {
  margin: 4px 10px;
}

.dropdown-menu a {
  font-size: 12px;
}

.genre-details {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.genre-button {
  margin-left: 4em;
}

.movie-row {
  margin-top: 20px;
  margin-bottom: 50px;
}
.movie-cover {
  width: 99%;
  transition: 0.3s;
  opacity: 0.7;
}
.movie-cover:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05);
}

.carousel-control-next {
  margin-right: -2%;
}

.carousel-control-prev {
  margin-left: -2%;
}

.account-page {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--account-bg-color);
}

.profile-page {
  padding: 5% 20%;
  color: #fff;
}

.profile-title {
  font-size: 64px;
}

.edit-icon {
  position: relative;
  left: 10%;
  top: -10%;
  background: black;
  padding: 10px;
  border-radius: 50%;
}

input[type="text"] {
  padding: 10px;
  background: var(--secondary-color);
  width: 100%;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

input[type="text"]:focus {
  outline: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-bottom: 10px;
}

img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

#netflix-logo {
  height: 48px;
}

.sub-Nav {
  min-width: 90%;
}

.movie-title {
  align-items: flex-start;
  margin-left: 7rem;
  font-weight: bold;
  color: #fff;
}

.my-footer {
  margin-bottom: 40px;
}

.image-card {
  height: 141.2px;
}
.image-card img {
  height: 100%;
  object-fit: cover;
}

.image-details {
  width: 22rem;
  height: 500px;
  object-fit: cover;
}
